
.link-custom {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  background-color: rgba(165, 166, 168, 0.307);
  border: 1px solid black;
}
.link-custom:hover{
  background-color: rgba(165, 166, 168, 0.622) ;
  color: black;
  padding: 6px;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title-center{
  text-align: center;
}
.contenedor-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.texto-centrado {
  text-align: center;
}
.col{
  background-color: rgba(128, 128, 128, 0.32);
  margin: 20px;
  max-width: 45%;
}
.navbarlink{
  text-decoration: none;
  color: inherit;
  padding: 5px;
}